/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run msk/rediscoverte -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input  = params.pipelines_testdata_base_path + 'viralrecon/samplesheet/samplesheet_test_illumina_amplicon.csv'

    // Genome references
    input  = 'assets/samplesheet.csv'
    rollup_fasta = 'https://github.com/mskcc-omics-workflows/test-datasets/raw/rediscoverte/rollup_annotation/REdiscoverTE_whole_transcriptome_hg38-20/19.fa.gz'
    rmsk_annotation_RDS = 'https://github.com/mskcc-omics-workflows/test-datasets/raw/rediscoverte/rollup_annotation/rmsk_annotation.subsampled.RDS'
    repName_repFamily_repClass_map_tsv = 'https://raw.githubusercontent.com/mskcc-omics-workflows/test-datasets/rediscoverte/rollup_annotation/repName_repFamily_repClass_map.tsv'
    genecode_gene_annotation_RDS = 'https://github.com/mskcc-omics-workflows/test-datasets/raw/rediscoverte/rollup_annotation/GENCODE.V26.Basic_Gene_Annotation_md5.RDS'
    genome = 'GRCh38'
}
